SolucionRetail/CapaPresentacion/Service References/ServicioListadoProducto/ServiceProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61190/ServiceProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61190/ServiceProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61190/ServiceProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaNegocio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceProducto_AgregarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_AgregarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_LoginWSCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginWSCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_LoginWSCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginWSClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_LoginWSUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginWSUsuario" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_LoginWSUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginWSUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_ListadoProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoProductos" />
  </wsdl:message>
  <wsdl:message name="ServiceProducto_ListadoProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceProducto">
    <wsdl:operation name="AgregarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceProducto/AgregarProducto" message="tns:ServiceProducto_AgregarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceProducto/AgregarProductoResponse" message="tns:ServiceProducto_AgregarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginWSCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceProducto/LoginWSCliente" message="tns:ServiceProducto_LoginWSCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceProducto/LoginWSClienteResponse" message="tns:ServiceProducto_LoginWSCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginWSUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceProducto/LoginWSUsuario" message="tns:ServiceProducto_LoginWSUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceProducto/LoginWSUsuarioResponse" message="tns:ServiceProducto_LoginWSUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceProducto/ListadoProductos" message="tns:ServiceProducto_ListadoProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceProducto/ListadoProductosResponse" message="tns:ServiceProducto_ListadoProductos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceProducto" type="tns:ServiceProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceProducto/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWSCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceProducto/LoginWSCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWSUsuario">
      <soap:operation soapAction="http://tempuri.org/ServiceProducto/LoginWSUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductos">
      <soap:operation soapAction="http://tempuri.org/ServiceProducto/ListadoProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProductos">
    <wsdl:port name="BasicHttpBinding_ServiceProducto" binding="tns:BasicHttpBinding_ServiceProducto">
      <soap:address location="http://localhost:61190/ServiceProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>