SolucionRetail/CapaPresentacion/Service References/ServiceAgregarProducto/ServiceProducto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61190/ServiceProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaNegocio" />
  <xs:element name="AgregarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpro" type="xs:int" />
        <xs:element minOccurs="0" name="nombrepro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marcapro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preciopro" type="xs:int" />
        <xs:element minOccurs="0" name="stockpro" type="xs:int" />
        <xs:element minOccurs="0" name="fechapro" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idretail" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWSCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWSClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginWSClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWSUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWSUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginWSUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaNegocio" minOccurs="0" name="ListadoProductosResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProducto2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpro" type="xs:int" />
        <xs:element minOccurs="0" name="nombrepro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marcapro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preciopro" type="xs:int" />
        <xs:element minOccurs="0" name="stockpro" type="xs:int" />
        <xs:element minOccurs="0" name="fechapro" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idretail" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProducto2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarProducto2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>