SolucionRetail/CapaPresentacion/Service References/ServiceAgregarProducto/ServiceProducto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaNegocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaNegocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fechaterminosubasta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Idproducto" type="xs:int" />
      <xs:element minOccurs="0" name="Idretail" type="xs:int" />
      <xs:element minOccurs="0" name="Marcaproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombreproducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precioproducto" type="xs:int" />
      <xs:element minOccurs="0" name="Stockproducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>